body {
  font-family: 'Montserrat', sans-serif;
  background-color:#DDCDAB;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}



header {
  width: 100%;
  height: 100px;
  padding: 20px;
}

.logo {
  width:85px;
  height:auto;}

.titulo-link {
  color: white;           
  text-decoration: none;    
  font-size: 20px;
  font-weight: bold;
}

.titulo-link:hover {
  color: #FFDD7F;         
}


.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9E1C20;
  padding: 40px;
  text-align: right;
  font-size: 10px;
}


.reseñas {
  padding: 20px;
  margin bottom: ;
  font-size: 24px;
  color: white;
  text-align: left; 
}


main{
  width: 1440px;
  height: 2000px;

  flex-direction: column;
}



nav {
  width: 80%;
  height: 65px;
  margin: 20px auto;
  padding: 20px;
  background-color:#921C1C;
  color: white;
}

.menu {
  display: flex;
  justify-content:center;
  gap: 60px;
  align-items: center;            
  background-color:#921C1C ;
  padding: 20px;
  border-bottom: 2px;
}


.item {
  color: white;
  text-decoration: #FFDD7F;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}


.item:hover {

  color: #FFDD7F;
}



main {
  width: 100%;
  height: 600px;
  background-color: beige;
  display:block;
  align-items: flex-start;
}

section  {
  width: 100%;
  height: 650px;
  background-color:#DDCDAB;
  margin: auto;
  padding: 20px;
  text-align: left;
}


section img { 
  display: flex;
  width:500px;  
  height:auto;
  margin-top:20px;
  border-radius:10px;
  }

.imagenes-ubicadas { 
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.imagenes-ubicadas img {
padding-top: -900px;
margin-top: 40;
width: 350px;
height: auto;
border-radius: 10px;
}

footer {
  width: 100%;
  height: 65px;
  background-color:#9E1C20;
  text-align: center;
  padding: 15px;
}
.pie {
  padding: 20px;
  text-align: center;  
  font-size:17px;
  color: white;
}

